<div class="container">
  <div>
    <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" />
  </div>
  <div>
    <p>Antonio R Lucero</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div>
    <span>
      <h1>Acerca de mi</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
        excepturi cumque tempore, maxime iusto molestias in laudantium quibusdam
        fugiat? Neque explicabo sapiente at vitae, consequatur reiciendis
        temporibus officiis deserunt nihil.
      </p>
    </span>
  </div>
</div>
