.row{
    padding: 20px;
}
div{
    background-color: #6a9bcf;
    text-align: center;
}

/* ============ Estilo de foto de perfil ============== */

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 600px;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 630px;
    }
}


/* ============ Etiqueta nombre ============== */

#nombre{
    font-size: 146%;
    font-weight: bold;       
}

/* ============ Etiqueta developer ============== */

#developer{
    font-size: 125%;
    font-weight: bold;
    margin-top: auto;
}