<div class="row">
    <h1>Experiencia Laboral.</h1> 
    <div class="col-lg-2">
        <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged">
            <!-- 
                "routerLink=/nuevaexp": para que al presionar el botón, redireccione a "/nuevaexp". 
                "*ngIf="isLogged"": condición para que el botón se muestre solamente si estoy logueado.
            -->
            Nueva Exp. Laboral   
        </button>
    </div>
    
    <div class="col lg 1"> </div>
    
    <div class="col-lg-11">
        <table class="table">            
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2> 
                            {{Experiencia.nombreE}}
                        </h2>
                    </td>
                    <td>
                        {{Experiencia.descripcionE}}
                    </td>
                    <td *ngIf="isLogged"> <!--*ngIf para que solamente se vea cuando esté logueado -->
                        <button class="btn btn-primary" routerLink="/editexp/{{Experiencia.id}}"> 
                            <i class= "bi bi-pencil-square"> </i> EDITAR 
                        </button>
                    </td>
                    <td *ngIf="isLogged"> <!--*ngIf para que solamente se vea cuando esté logueado -->
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)"> 
                            <i class="bi bi-trash"></i> BORRAR
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>