<div class="row">
    <h1> Educación</h1>
    <div class ="col-lg-1"></div>
    <div class ="col-lg-11">
        <ul>
            <li>
                <h1>Educación Primaria</h1> - <h3>(years)</h3>
            </li>
            <p>
                Descripción
            </p>
        </ul>
        <ul>
            <li>
                <h1>Educación Secundaria</h1> - <h3>(years)</h3>
            </li>
            <p>
                Descripción
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudios complementarios</h1> - <h3>(years)</h3>
            </li>
            <p>
                Descripción
            </p>
        </ul>
    </div>