<div class="row">
    <h1>Proyectos realizados.</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2 id="Agenda">Agenda Electrónica.</h2>
            <p>
                El pequeño proyecto pertenece al Primer Trabajo Práctico realizado en el "Curso de Programación Web Fullstack con Java" del Polo TIC (Actualmente Silicon Misiones) dictado por la Ing. Luisina de Paula. Diseñado en Netbeans 8 con librería de Java Swing para la GUI y utilización de arrays (vectores y matrices) para el almacenamiento de los datos correspondientes. Haz click en la imágen y te llevará al repositorio de Github.     
            </p>
            
            <h2 id="Peluqueria">Peluquería Canina.</h2>
            <p>
                Es un proyecto integrador que también pertenece al "Curso de Programación Web Fullstack con Java" del Polo TIC (Actualmente Silicon Misiones) dictado por la Ing. Luisina de Paula. El IDE Netbeans 8 se utilizó en todo la cursada junto con la librería de Java Swing para la GUI y utilización de arrays (vectores y matrices) para el almacenamiento de los datos correspondientes sin dejar de lado el uso de Maria DB. Haz click en la imágen y te llevará al repositorio de Github "En desarrollo".
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://github.com/acm1ux3r0/Agenda_Electronica" target="_self">
                <img src="../../../assets/Agenda.png" class="img-fluid img-proyecto" title="agenda">
            </a>
            <p></p>
            <a href="https://github.com/acm1ux3r0/Peluqueria_Canina">
                <img src="../../../assets/Pelu_canina.png" class="img-fluid img-proyecto2" title="Peluquería">
            </a>
            
        </div>
    </div>
</div>