<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p id="developer">Full Stack Developer Jr</p>
  </div>
  
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        "¿Eres un 1 o un 0? Esa es la pregunta que tienes que hacerte a ti
        mismo. ¿Eres un sí o un no? ¿Vas a actuar o no?" (Mr. Robot)
      </p>
    </span>
  </div>
</div>
