.row{
    padding: 20px;
}
div{
    background-color: #6a9bcf;
    text-align: center;
}

                                /* ============ Estilo de foto de perfil ============== */

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 4px 4px 4px blue;
        left: 3%;
        top: 600px;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 4px 4px 4px blue;
        left: 33%;
        top: 850px; /* 630 - 950*/
    }
}


                                /* ============ Etiqueta nombre ============== */

#nombre{
    font-weight: bold;
    margin-top: auto;
    font-size: 125%;     
}

                                /* ============ Etiqueta developer ============== */

                                #developer{
                                    font-size: 125%;
                                    font-weight: bold;
                                    margin-top: auto;
                                }