<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" title="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/linkedin.png" id="linkedin" title="linkedin"></a>
            <a href=""><img src="../../../assets/twitter.png" id="twitter" title="twitter"></a>
            <a href=""><img src="../../../assets/instagram.png" id="instagram" title="instagram"></a>
            <a href=""><img src="../../../assets/github.png" id="github" title="github"></a>
            <a href=""><img src="../../../assets/facebook.png" id="facebook" title="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf=" isLogged">CERRAR SESIÓN</button>
        </div>
    </div>
</div>
